.cart-product-details {
  display: flex;
  flex-direction: column;
}

.cart-product {
  display: flex;
  gap: 5rem;
  border: 1px solid rgb(13, 128, 128);
  padding: 10px;
  margin-bottom: 10px;
}

.product-cart-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thumbnail {
  margin-right: 10px;
  width: 150px;
}

.thumbnail img {
  width: 150px;
  height: auto;
}
.product-cart-title h4 {
  color: #fff;
    font-size: 16px;
font-weight: bold;
  margin: 0;
}

.cart-price   {
margin-left: 30px;
  font-weight: bold;
  color: #ff6600;
  display: flex;
  align-items: center;
}
.fa-trash {
  color: red;
  margin-left: 10px;
}

.fa-trash:hover {
  color: darkred;
}
.numbers-added {
  display: flex;
  gap: 5px;
  font-size: 18px;
  color: silver;
}

@media screen and (max-width: 600px) {
    .cart-product {
        flex-direction: column;
        gap: 1rem;
    }

    .product-cart-details {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    .thumbnail {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .thumbnail img {
        width: 100%;
    }

    .product-cart-title h4 {
        margin-bottom: 5px;
    }

    .cart-price {
        margin-left: 0;
        margin-top: 10px;
    }

    .fa-trash {
        margin-left: 0;
        margin-top: 10px;
    }

    .numbers-added {
        gap: 2px;
        font-size: 14px;
    }
}