.cart-product-details {
    display: flex;
    flex-direction: column;
}

.cart-product {
    display: flex;
    gap: 5rem;
    border: 1px solid rgb(13, 128, 128);
    padding: 10px;
    margin-bottom: 10px;
    width: 500px;
}

.product-cart-details {
    display: flex;
}

.thumbnail {
    margin-right: 10px;
    width: 150px;
}

.thumbnail img {
    width: 150px;
    height: auto;
}
.title h4 {
    margin: 0;
}

.price p {
    margin: 0;
    font-weight: bold;
    color: #008000;
}
.fa-trash {
    color: red;
    margin-left: 10px;
}

.fa-trash:hover {
    color: darkred;
}